
 .footerlinks

{
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #ffd800;
}

#footer1 {
    background: #00b1ff;
}

#footer2 {
    background: #003653;
}
#footer3 {
    background: #003653;
}

